[Unit]
Description=WOWHoneypot

[Service]
WorkingDirectory=/opt/wowhoney
ExecStart=/opt/wowhoney/bin/start.sh
Type=simple
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target